<!DOCTYPE html>
<html>
    <head>
        <title>Chat Andrrff</title>
        <meta name="viewport" content="width=device-width, initial-scale=.8">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
        <link rel="stylesheet" href="/public/styles/ui.css" />
        <link rel="stylesheet" href="/public/styles/main.css" />
        <link rel="stylesheet" href="/public/styles/chat.css" />
    </head>
    <body>
      <nav class="navbar navbar-light bg-light" style="background-color: #31353d !important; border-bottom: 1.6px solid #3A3F48; position: fixed;
    width: 100%;">
        <div class="container-fluid" style="justify-content: center;">
          
          <span class="navbar-brand mb-0 h1" id="usernameNav" style="color:#A8AFBD">Selecione um chat</span>
          <button id="call" style="background-color: #f0f8ff00; outline: none;
    border: none;">
                  <i id="call" class="icon send fa fa-video clickable" style="filter:invert(1); margin-left: 25px; 
                transform: scale(2);" aria-hidden="true"></i>
                <span class="badge badge-pill badge-warning" style="margin-left: 10px;">beta</span>
              </button>
        </div>
      </nav>
    <div class="page-wrapper chiller-theme">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">chat-andrrff</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name"><span class="visually-hidden">Pending...</span>
          </span>
          <span class="user-role">🚧status🚧</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul class="sidemenu">
          <li class="header-menu">
            <span>Global</span>
          </li>
          <li>
            <a class="chat-public" href="#">
              <i class="fas fa-users"></i>
              <span>Public</span>
              <span class="badge badge-pill badge-success">online</span>
            </a>
            </li>

          <li class="header-menu">
            <span>Private</span>
          </li>
          <div class="users"></div>

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="app-main">
      <ul id="messages"></ul>
    <div id="columns-name" class="chat-wrapper">
      
  </div>
            <div class="footer-chat">
              <label for="my-file">
                <i class="icon fas fa-paperclip clickable" style="filter:invert(0); font-size:25pt; margin-left: 10px;" aria-hidden="true"></i>
              </label>
              <input type="file" id="my-file" name="my-file" accept="image/*"/>
              <input id="input" autocomplete="off" class="write-message" style="outline: none;" placeholder="Type your message here"></input>
              <button id="submit" style="background-color: #f0f8ff00; outline: none;
    border: none;">
                  <i id="submit" class="icon send fa fa-paper-plane clickable" style="filter:invert(1); margin-left: 25px; 
                transform: scale(2);" aria-hidden="true"></i>
              </button>
            </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
        <!-- <button id="action"></button> -->
    </body>
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/getImagesFine.js"></script>
    <!-- <script src="lib/sweetalert2/sweetalert2.all.js"></script> -->
    <script src="/public/js/socketFine.js"></script>
    <script src="/public/js/main.js"></script>
</html>
