html,
body {
    height: 100%;
    margin: 0;
}
body {
    background: #252731;
}
.btn-toggle {
    outline: none;
    border: none;
    color: rgb(226, 225, 225);
    /* width: 70px; */
    /* height: 70px; */
    border-radius: 8px;
    background-color: #212227;
}
.btn-toggle > i {
    transform: scale(6);
}
#video-grid {
    display: inline-grid;
    float: right;
    width: auto;
    margin: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
    grid-auto-rows: 200px;
}
#principal {
    display: inline-flex;
    /* margin: 10px; */
    grid-template-columns: 100%;
    grid-gap: 20px;
    grid-auto-rows: 500px;
    width: 98% !important;
    height: auto !important;
}
#video-main {
    margin: 10px;
    float: right;
    width: 100vw !important;
    height: auto !important;
}
#video-main > video {
    height: 95vh !important;
    height: 95vh !important;
}
.btn {
    background-color: #5fb4ff;
    outline: none;
    border: none;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    transition: transform 0.1s;
    cursor: pointer;
    -o-transition: transform 0.1s ease-in-out; /* opera */
    -ms-transition: transform 0.1s ease-in-out; /* IE 10 */
    -moz-transition: transform 0.1s ease-in-out; /* Firefox */
    -webkit-transition: transform 0.1s ease-in-out; /*safari and chrome */
}
.btn:hover {
    transform: scale(1.1);
}
.btn > i {
    transform: scale(1.8);
}
.btn.action {
    background-color: hsl(0, 100%, 69%);
}
.footer-actions {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
    display: flex;
    align-content: center;
    justify-content: center;
    grid-gap: 15px;
    position: fixed;
    top: 80vh;
    height: 50vh;
    width: 100vw;
    opacity: 0;
    transition: top 1.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out; /* opera */
    -ms-transition: top 0.5s ease-in-out; /* IE 10 */
    -moz-transition: top 0.5s ease-in-out; /* Firefox */
    -webkit-transition: top 0.5s ease-in-out; /*safari and chrome */
}
.footer-actions:hover {
    opacity: 1;
    top: 75vh;
    transition: all 0.3s;
}
#principal.active
{
    display: none;
}
@media only screen and (max-width: 900px) {
    #principal {
        display: inline-table;
        /* margin: 10px; */
        grid-template-columns: 100%;
        grid-gap: 20px;
        grid-auto-rows: 100% !important;
    }
    #principal.active
    {
        display: none;
    }
    #video-grid {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
        scroll-behavior: smooth;
    }
    #video-grid > video {
        width: 50%;
        max-height: 200px;
    }
    #video-main {
        margin: 10px;
        height: 500px;
        float: right;
        width: auto;
        height: 100% !important;
    }
    #video-main > video {
        width: 95vw !important;
        height: 90vh !important;
    }
    .footer-actions {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        );
        display: flex;
        align-content: center;
        justify-content: center;
        grid-gap: 15px;
        position: initial;
        top: 110vh;
        opacity: 1;
        height: 20vh;
        width: 100vw;
    }
}
video {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.wrap {
    margin: auto;
    width: 100%;
    max-width: 900px;
}

#wrap {
  /* Prevent vertical gaps */
  line-height: 0;
  margin: 20px;  
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#wrap video {
  /* Just in case there are inline attributes */
  width: 30vh !important;
  height: 30vh !important;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  #wrap {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #wrap {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #wrap {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 200px) {
  #wrap {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

#wrap.active
{
    display: none;
}