html,
body {
    height: 100vh;
    margin: 0;
}
body {
    background: #252731;
    overflow: hidden;
}
.btn-toggle {
    outline: none;
    border: none;
    color: rgb(226, 225, 225);
    /* width: 70px; */
    /* height: 70px; */
    border-radius: 8px;
    background-color: #212227;
}
.btn-toggle > i {
    transform: scale(6);
}
#video-grid {
    display: inline-grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    float: right;
    width: auto;
    margin: 10px;
}
#video-grid > video
{
    width: 200px;
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
#principal {
    display: inline-flex;
    /* margin: 10px; */
    grid-template-columns: 100%;
    grid-gap: 20px;
    grid-auto-rows: 500px;
    width: 98% !important;
    height: auto !important;
}
#video-main {
    margin: 10px;
    float: right;
    width: 100vw !important;
    height: auto !important;
}
#video-main > video {
    height: 95vh !important;
    height: 95vh !important;
}
.btn {
    background-color: #5fb4ff;
    outline: none;
    border: none;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    transition: transform 0.1s;
    cursor: pointer;
    -o-transition: transform 0.1s ease-in-out; /* opera */
    -ms-transition: transform 0.1s ease-in-out; /* IE 10 */
    -moz-transition: transform 0.1s ease-in-out; /* Firefox */
    -webkit-transition: transform 0.1s ease-in-out; /*safari and chrome */
}
.btn:hover {
    transform: scale(1.1);
}
.btn > i {
    transform: scale(1.8);
}
.btn.action {
    background-color: hsl(0, 100%, 69%);
}
.footer-actions {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
    display: flex;
    align-content: center;
    justify-content: center;
    grid-gap: 15px;
    position: fixed;
    top: 80vh;
    height: 50vh;
    width: 100vw;
    opacity: 0;
    transition: top 1.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out; /* opera */
    -ms-transition: top 0.5s ease-in-out; /* IE 10 */
    -moz-transition: top 0.5s ease-in-out; /* Firefox */
    -webkit-transition: top 0.5s ease-in-out; /*safari and chrome */
}
.footer-actions:hover {
    opacity: 1;
    top: 75vh;
    transition: all 0.3s;
}
#principal.active
{
    display: none;
}
@media only screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    #principal {
        display: inline-table;
        /* margin: 10px; */
        grid-template-columns: 100%;
        grid-gap: 20px;
        grid-auto-rows: 100% !important;
    }
    #video-grid {
        display: block;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
        float: left;
        scroll-behavior: smooth;
        width: 60vh !important;
        overflow-x: auto;
        white-space: nowrap;
    }
    #video-grid > video {
        margin: 5px;
        width: 20vh;
        height: 20vh;
    }
    #video-main {
        margin: 10px;
        height: 500px;
        float: left;
        width: auto;
        height: 100% !important;
    }
    #video-main > video {
        width: 95vw !important;
        height: 90vh !important;
    }
    .footer-actions {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        );
        display: flex;
        align-content: center;
        justify-content: center;
        grid-gap: 15px;
        position: initial;
        top: 110vh;
        opacity: 1;
        height: 20vh;
        width: 100vw;
    }
    .btn.desktop
    {
        display: none
    }
}
video {
    width: 100%;
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
video::-webkit-media-controls {
    display:none !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}