body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #675CD8;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#username {
    border: none;
    padding: 0 1rem;
    flex-grow: 0.05;
    border-radius: 2rem;
    margin: 0.25rem;
}
#username:focus {
    outline: none;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#messages > li:nth-child(odd) {
    background: #efefef;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #form {
        background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        /* display: flex; */
        display: grid;
        height: 15rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        align-content: space-around;
    }
    #input {
        height: 180%;
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 1rem;
        margin: 0.25rem;
        resize: none;
        font-size: large;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        height: 40px;
    }
    #messages{
        padding-bottom: 12pc;
    }
    #button {
        height: 180%;
        border: none;
        padding: 0 1rem;
        flex-grow: 0.05;
        border-radius: 2rem;
        margin: 0.25rem;
        height: 40px;
    }
    button{
        height: 40px;
    }
}

.italic { font-style: italic; }
.small { font-size: 0.8em; }

/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}