<!DOCTYPE html>
<html>
    <head>
        <title>Chat Andrrff</title>
        <meta name="viewport" content="width=device-width, initial-scale=.8">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
        <link rel="stylesheet" href="/public/styles/ui.css" />
        <link rel="stylesheet" href="/public/styles/main.css" />
        <link rel="stylesheet" href="/public/styles/chat.css" />
    </head>
    <body>
    <div class="page-wrapper chiller-theme">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">chat-andrrff</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name"><span class="visually-hidden">Pending...</span>
          </span>
          <span class="user-role">🚧status🚧</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul class="sidemenu">
          <li class="header-menu">
            <span>Global</span>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-users"></i>
              <span>Força Jovem Vasco</span>
              <span class="badge badge-pill badge-warning">offline</span>
            </a>
            </li>

          <li class="header-menu">
            <span>Private</span>
          </li>
          <div class="users"></div>

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="app-main">
      <ul id="messages"></ul>
    <div class="chat-wrapper">
      
    <!-- <div class="chat-input-wrapper">
      <button class="chat-attachment-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-paperclip" viewBox="0 0 24 24">
          <defs></defs>
          <path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48"></path>
        </svg>
      </button>
      <div class="input-wrapper">
        <input type="text" class="chat-input" placeholder="Enter your message here">
        <button class="emoji-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-smile" viewBox="0 0 24 24">
          <defs></defs>
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01"></path>
        </svg>
      </button>
      </div>
      <button class="chat-send-btn">Send</button>
    </div> -->
  </div>
    <!-- <div class="messages-chat"></div> -->
        <!-- <form id="form" action=""> -->
            <!-- <div class="sidebar-search">
                <div>
                <div class="input-group">
                    <input id="input" type="text" class="form-control search-menu" placeholder="Message...">
                    <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </span>
                    </div>
                </div>
                </div>
            </div> -->
            <!-- <input
                id="input"
                autocomplete="off"
                placeholder="message"
            /> -->
             <!-- <input type="file" id="my-file" accept="image/*"/> -->
            <!-- <button id="submit">Send</button> -->
            <!-- <button id="button" type="click" class="file">🚧<img src="https://img.icons8.com/fluent-systems-regular/48/000000/file.png" style="width: 24px; filter: invert(1);"/>🚧</button> -->
        <!-- </form> -->
        <form id="chat" action="">
            <div class="footer-chat">
              <label for="my-file">
                <i class="icon fas fa-paperclip clickable" style="filter:invert(0); font-size:25pt; margin-left: 10px;" aria-hidden="true"></i>
              </label>
              <input type="file" id="my-file" name="my-file" accept="image/*"/>
            <!-- <a class="paperclip">
            </a> -->
              <input id="input" autocomplete="off" class="write-message" style="outline: none;" placeholder="Type your message here"></input>
              <!-- <button id="submit" type="submit" style="background-color: #f0f8ff00; outline: none;
    border: none;">
                  <i id="submit" type="submit" class="icon send fa fa-paper-plane clickable" style="filter:invert(1); margin-left: 25px; 
                transform: scale(2);" aria-hidden="true"></i>
              </button> -->
            </div>
        </form>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
        <!-- <button id="action"></button> -->
    </body>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/getImagesFine.js"></script>
    <!-- <script src="lib/sweetalert2/sweetalert2.all.js"></script> -->
    <script src="/public/js/socketFine.js"></script>
    <script src="/public/js/main.js"></script>
</html>
